{% extends 'base.html.twig' %}

{% block title %}Задача{% endblock %}

{% block body %}
    <h1>Задача</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Заголовок</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Выполнена</th>
                <td>{{ task.isCompleted ? 'Да' : 'Нет' }}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Дата обновления</th>
                <td>{{ task.updatedAt ? task.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}">назад к списку</a>

    <a href="{{ path('app_task_edit', {'id': task.id}) }}">редактировать</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
